include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include pyproject.toml
include aemo_mdff_reader/py.typed
recursive-include tests *.py *.csv
recursive-include benchmarks *.py
